body {
  --color-background: #101013;
  --color-foreground: #16161A;
  --color-button: #26262B;
  --color-button-hover: #1c1c21;

  --color-txt-highlight: #ffffff;
  --color-txt: #c4cdd7;
  --color-txt-brand: #e9a8ba;
}
body.light {
  --color-background: #ffffff;
  --color-foreground: #c5c5c5;
  --color-button: #9e9e9e;
  --color-button-hover: #898a8d;

  --color-txt-highlight: #000000;
  --color-txt: #46464b;

  --color-txt-brand: #500f1f;
}
body.dark {
  --color-background: #2c2c2f;
  --color-foreground: #39393a;
  --color-button: #454547;
  --color-button-hover: #3a3a3c;

  --color-txt-highlight: #ffffff;
  --color-txt: #e2e6eb;
  --color-txt-brand: #f3ccd5;
}
